@{
    ViewData["Title"] = "Допълнителни услуги";
}

<h5 class="text-center">Допълнителни услуги</h5>
<hr style="background-color: black">

<div><i class="fas fa-check pr-2"></i>Text0</div>
<div><i class="fas fa-check pr-2"></i>Text1</div>
<div><i class="fas fa-check pr-2"></i>Text2</div>
<div><i class="fas fa-check pr-2"></i>Text3</div>
<div><i class="fas fa-check pr-2"></i>Text4</div>
