@{
    ViewData["Title"] = "Контакти";
}
@section Styles {
    <link rel="stylesheet" href="/css/maps.style-1.0.min.css" />
}

<div class="col-12">
    <h5 class="text-center"> Контакти</h5>
    <hr style="background-color: black">
    <div>
        <span class="font-weight-bold">Телефонен номер: </span>
        <span>08XXXXXXXXX</span>
    </div>
    <div>
        <span class="font-weight-bold">Имейл: </span>
        <span>admin@mail.com</span>
    </div>
    <div>
        <span class="font-weight-bold">Адрес: </span>
        <span>гр.Варна</span>
    </div>
    <div>
        <span class="font-weight-bold">Работно време: </span>
        <span>понеделник - петък 09:00ч - 17:30ч</span>
    </div>
</div>
<br>
<div class="map-responsive">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2908.0068056643795!2d27.895076314821342!3d43.20934658903699!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a45353bf3bae45%3A0xae236ae956fab99c!2z0K_QndCY0JzQntCdIDIwMTgg0JXQntCe0JQ!5e0!3m2!1sen!2sbg!4v1635011567537!5m2!1sen!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<br>
