@page "/iztrivane-na-lichna-informacia"
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Изтриване на лична информация";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>Изтриване на лична информация</h4>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>
            Изтривайки тази информация вие премахвате вашия профил тази стъпка е безвъзвратна.
        </strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post" class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="btn btn-danger" type="submit">Изтрии информацията и премахни акаунт</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}