<table class="table table-bordered">
    <thead class="text-white" style="background-color: crimson">
        <tr>
            <th class="h6">
                Филтри
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div>
                    <span class="text-center">Филтрирай по цена:</span>
                    <form>
                        <div class="row">
                            <div class="col-sm-5">
                                <input type="text" class="form-control">
                            </div>
                            -
                            <div class="col-sm-5">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
                <br />
                <div>
                    <span>По производител</span>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Varta
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Banner
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Monbat
                        </label>
                    </div>
                </div>
                <br />
                <div>
                    <span>По характеристики</span>
                </div>
                <input type="submit" class="btn btn-primary" name="name" value="Приложи" />
            </td>
        </tr>
    </tbody>
</table>