<form asp-controller="Replies" asp-action="Create" method="post">
    <div id="Reply">
        <textarea name="content" placeholder="Въвеждане..."></textarea>
    </div>
    <input type="submit" class="btn btn-success" value="Въведи" />
</form>
